.OrderListItem {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  background: #FFFFFF;
  cursor: pointer;
  height: 68px;
  padding-left: 41px;

  span {
    font-size: 12px;
  }

  &__order-number {
    flex: 0 0 152px;
    margin-right: 22px;

    font-weight: bold;
  }

  &__submitted-at {
    flex: 0 0 152px;
    margin-right: 83px;
  }

  &__variant-count {
    flex: 0 0 152px;
    margin-right: 2px;
  }

  &__customer-name {
    flex: 0 0 152px;
  }

  &__total {
    flex: 0 0 70px;
    margin-left: auto;
  }
}