.Sidebar {
  width: 55px;
  height: 100vh;
  background: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 63px;
      cursor: pointer;
      border-bottom: 1px solid #C5C5C5;

      &-active {
        background: #F2F2F2;
      }

      img {
        width: 41px;
        height: 41px;
      }
    }
  }
}