.ProductListItem {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  background: #FFFFFF;
  cursor: pointer;
  height: 68px;
  padding-left: 12px;

  span {
    font-size: 12px;
  }

  &__image-wrapper {
    flex: 0 0 66px;
    height: 58px;
    overflow: hidden;
    position: relative;
    background: red;
    margin-right: 40px;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__name {
    flex: 0 0 152px;
    margin-right: 172px;
  }

  &__variant_count {
    flex: 0 0 152px;
  }
}