.ProductListItem {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  background: #FFFFFF;
  cursor: pointer;
  height: 68px;
  padding-left: 12px;

  span {
    font-size: 12px;
  }

  &__name {
    flex: 0 0 152px;
    margin-right: 172px;
  }

  &__variant_count {
    flex: 0 0 152px;
  }
}