.ProductListItem {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  &__image-wrapper {
    flex: 0 0 66px;
    height: 58px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__name {
    flex: 0 0 152px;
  }

  &__variant_count {
    flex: 0 0 152px;
  }
}